<div class="container">
	<div class="form-group">
        <input type="text" class="form-control" #newKeyword (keyup.enter)="triggerSearch(newKeyword.value); newKeyword.value=''">
    </div>
	<button (click)="triggerSearch(newKeyword.value)" class="btn btn-success">Search</button>
	<br /><br />
	<div *ngIf="loadingSuccess; else displayMessage">
		<div class="row">
			<div class="flickr-pic col-sm-3" *ngFor="let image of images">
				<a href="{{ image }}" target="_blank">
					<img src="{{ image }}" class="img-thumbnail">
				</a>
			</div>
		</div>
	</div>
	<ng-template #displayMessage>
		<p>{{ errorMessage }}</p>
	</ng-template>
</div>

